.whatsapp-float {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #46705f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 1000;
}

@media (max-width: 420px) {
  .whatsapp-float {
    bottom: 20px;
    right: 20px;
  }
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.whatsapp-float img {
  width: 32px;
  height: 32px;
  filter: invert(1);
}