

@media (max-width: 768px) { 
    .buttonToolbar {
        width: 0.5rem;
        height: 0.5rem;
        font-size: small;
    }
    
    .customToolbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .customToolbarLabel{
        font-size: small;
    }

}



