.citaDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.citaDetails div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 6rem;
    border: 1px solid var(--primary);
    background-color: var(--tertiary);

}

.citaDetails p {
    font-size: 1rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contactFieldset {
    border: 2px solid var(--primary);
    padding-block: 2rem;
    padding-inline: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 28rem;
    min-width: 15rem;
  }

  .contactFieldsetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 5rem;
  }
  
  .legendTitle {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    padding-inline: 0.75rem;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .inputLabel {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .textInput {
    width: 100%;
    padding: 1rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .textInput:focus {
    border-color: var(--primary);
    outline: none;
  }
  
  .checkboxGroup {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  
  
.checkboxInput{
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .citaDetails div {
        padding: 2rem 3rem;
    }

}

@media (max-width: 500px) {
    .citaDetails div {
        padding: 2rem 3rem;
    }

    .citaDetails div p {
        font-size: small;
    }

}

@media (max-width: 450px) {
    .citaDetails div {
        padding: 1.5rem 1.5rem;
    }
    .contactFieldset{
        padding-block: 1rem;
        padding-inline: 1rem;
    }


    .inputLabel, .textInput {
        font-size: 0.8rem;
        padding: 0.75rem;
        margin: 0;
    } 



}
