.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

.topBanner {
    background-color: #585655;
    color: white;
    padding-block: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;

}

.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
    padding-block: 0.5rem;
    background-color: var(--primary);
    background-image: linear-gradient(to bottom, white, 33%, #9dccd6);
}

.navbarLogo {
    width: 17rem;
}

.navbarList {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbarListItem {
    color: var(--secondary);
    font-size: large;
    margin-inline: 1rem;
    font-weight: 500;
    text-decoration: none;
    list-style-type: none;
}

.navbarListItem:hover {
    color: var(--primary);
}

.navbarListItemReserva {
    background-color: #F2E0B6   ;
    color: var(--secondary);
    font-weight: 700;
    padding: 0.75rem;
    margin-left: 2rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);

}


.buttonAbrir {
    font-size: xx-large;
    border-radius: 0.375rem;
    padding: 0.01rem;
    color: var(--secondary);

}

.menuMobile {
    display: none;
    margin-right: 5%;
}

.cerrarMenuMobile {
    display: none;
    margin-bottom: 10%;
    border: none;
    background-color: transparent;
}


@media screen and (max-width: 1400px) {
    .navbarListItem {
        font-size: medium;
        margin-inline: 0.5rem;
    }
    .navbarLogo {
        width: 12rem;
    }
}


@media screen and (max-width: 992px) {

    .navbarContainer {
        padding-block: 1.5rem;
        padding-inline: 2rem;

    }
    
    .menuMobile {
        display: block;
        cursor: pointer;
    }

    .cerrarMenuMobile {
        display: block;
        font-size: 2rem;
        padding-inline: 1rem;
        cursor: pointer;
        color: var(--quaternary);
    }

    .navbarLinks {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 1000;
        background-color: var(--tertiary);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
        width: 35%;
    }


    .navbarLinks.visible {
        opacity: 1;
        visibility: visible;
    }

    .navbarList {
        flex-direction: column;
        align-items: end;
        gap: 3rem;
      }
      .navbarListItem  {
        font-size: 1rem;
        font-weight: 700;
      }

      .navbarListItemReserva{
        padding: 1rem 0.7rem;
        font-size: 0.8rem;
        margin-left: 0rem;
      }
}


@media (max-width: 768px) {
    .topBanner {
        font-size: 0.8rem;
    }

    .navbarLinks {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .navbarListItem  {
        font-size: 0.8rem;
    }
    .navbarListItemReserva{
        padding: 0.8rem 0.5rem;
        font-size: 0.7rem;
      }

}