.footerContainer {
    background-color: #F5F1E6  ;
    padding: 2rem;
}

.footerSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1rem;
}

.footerSection article{
    width: calc(100% / 3);
    height: auto;
    padding: 1rem 3rem;
}   

.footerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 1rem;
}

.footerAbout p {
    line-height: 1.5;
}

.footerLogo {
    padding-bottom: 1rem;
    width: 8rem;
    border-radius: 50%;
}

.footerContact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContact h3{
    margin-bottom: 1rem;
}

.footerContactItem, .footerContactItem p {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    gap: 0.5rem;
    margin-block: 0.25rem ;
    color: var(--secondary);
}

.footerSocial {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    gap: 1rem;
}

.footerSocialIcons {
    display: flex;
    gap: 1.5rem;
}

.footerSocialIcons a {
    font-size: 2rem;
    color: var(--secondary);
}

.footerSocialIcons a:hover {
    color: #3B3A39 ;
}

.footerBottom {
    text-align: center;
    padding: 1rem ;
    font-size: 0.85rem  ;
    color: var(--secondary);
    font-weight: bold;
}


@media (max-width: 1200px) {
    .footerSection {
        flex-direction: column;
        align-items: center;
    }

    .footerSection article{
        width: 75%;
        padding-block: 2rem;
        border-bottom: 1px solid var(--secondary) ;
    }   
}

@media (max-width: 768px) {
    .footerSocialIcons {
        padding: 1.5rem 2rem;
    }

    .footerSocialIcons a{
        font-size: 3rem;
    }

    .footerAbout p {
        font-size: small;
    }
    
    .footerSection article{
        width: 100%;

    }   

    .footerContactItem, .footerContactItem p {
             font-size: medium;
      
    }

    .footerSocialIcons a{
        font-size: 2rem;
    }
}